.filter-price__heading-ruble {
  font-size: 15px;
}

.filter-price__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  position: relative;

  &::before {
    content: "";
    width: 14px;
    height: 1px;
    background-color: $price-dash;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

.filter-price__input {
  width: 84px;
  height: 28px;
  padding: 0;
  text-align: center;
  border: 1px solid $input-border;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 0.03em;
  appearance: textfield;

  &::placeholder {
    opacity: 0.7;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}
