// Colors
$general-black: #000000;
$general-white: #ffffff;
$basket-quantity: #f20505;
$header-background: #1e090626;
$decorative-gutar-shadow: #00000026;

// Body width
$desktop-width: 1020px;

// Wrappers
$desktop-wrapper: 1020px;
